---
---

$color-hover: #5a80ff;

@import "{{ site.theme }}";

$colors: #bfbbb6, #befee1, #50e5ff, #5a80ff, #5e00d0;
//$colors: #c15450, #e8b574, #ebebc1, #21d1ce, #2f8b95;
//$colors: #292b2e, #468d93, #ece2c8, #e69f3c, #82253b;
//$colors: #ff0066, #ffb300, #b0ff05, #00ffc8, #708d91;
//$colors: #091c58, #085e9f, #1cd9a4, #b9f467, #e3f983;
//$colors: #3bb9d9, #f510a5, #b811f5, #5b0df7, #190557;
//$colors: #f676de, #c410f0, #0fbcf0, #2f62fe, #4f04e3;

.uk-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-splash {
  .splash-container {
    display: flex;
    color: #fff;
    margin-bottom: 3rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .splash {
    transform: rotateZ(-4deg);

    .text {
      position: absolute;
      color: #333;
      line-height: 100%;
      overflow: hidden;
    }
  }
}

header {
  .uk-logo {
    &:hover {
      color: $color-hover;
    }
  }
}

.uk-card {
  &:hover {
    .uk-icon {
      color: $color-hover;
    }
  }
}

#map {
  min-height: 400px;
}

@media (min-width: 960px) {
  .section-hero {
    display: none;
  }

  .section-splash {
    display: block;

    .splash-container {
      min-height: 260px;
    }
    .splash .text {
      font-size: 200%;
    }
  }
}

@media (min-width: 1200px) {
  .section-splash {
    .splash-container {
      min-height: 380px;
    }
    .splash .text {
      font-size: 120%;
    }
  }
}
